@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
/* ---- @imports go above ---- */

* {
	box-sizing: border-box;
}

/* ---- Clearfix ---- */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
 
.clearfix:after {
  clear: both;
}
 
.clearfix {
  *zoom: 1;
}

/* ---- General Styles ---- */
body {
	background: #f2f2f2;
	font: 18px/30px 'Lato', Helvetica, Arial, sans-serif;
	color: #666d89;
}
	h1, h2, h3 { font-weight: 700; }
	h2 { font-size: 30px; line-height: 1em; }
	h3 { font-size: 18px; line-height: 1em; }
	h4 { font-weight: 100; font-size: 18px; line-height: 30px; }
	p { font-weight: 400; font-size: 12px; line-height: 1.8em; }
	
	.container {
		max-width: 1020px;
		margin: 0 auto;
		padding: 40px 35px;
	}

/* ---- Begin Header Section Styles ---- */
header.top-header {
	background: #2d303a;
	border-bottom: 6px solid #323746;
	height: 96px;
	max-width: 100%;
	color: #fff;
}
	header.top-header nav {
			display: inline;
			float: right;
		}
			header.top-header nav ul > li {
				display: inline;
			}
			header.top-header nav ul > li:before {
				content: '\2027';
				position: relative;
				top: 2px;
				margin: 0 15px;
				color: #494e62;
			}
			header.top-header nav ul > li:first-child:before {
				content: '';
				margin: 0;
			}
				header.top-header nav ul > li > a {
					color: #fff;
					text-transform: uppercase;
					font-size: 12px;
					line-height: 1em;
					text-decoration: none;
					transition: all 0.25s ease;
				}
					header.top-header nav ul > li > a:hover {
						color: #f06c64;
					}
					header.top-header nav ul > li > a.active {
						color: #f06c64;
					}
	.logo-section {
		display: inline;
		float: left;
	}
		.logo-section .logo {
			display: block;
			width: 115px;
			height: 20px;
			background: url(../img/logo.png) top left no-repeat;
			text-indent: -9999px;
		}

/* ---- Begin Main Section Styles ---- */
main {}
	section{}
		section h2 {
			margin-bottom: 33px;
		}
		section h3 {
			margin-bottom: 14px;
		}
		section .container {
			padding: 66px 40px 71px 40px;
		}
		section.top-slider-section {
			max-width: 100%;
			background: #f06c64;
			border-bottom: 6px solid #ea676b;
		}
			section .top-slider {
				max-width: 100%;
				/*height: 600px;*/
				/*background: #f06c64 url(../img/bg-slider.png) top center no-repeat;
				background-size: cover;*/
			}
				.top-slider img {
					max-width: 100%;
				}
		section.services-section {
			max-width: 100%;
			background: #f2f2f2;
			border-bottom: 6px solid #fff;
		}
			.services-row {
				/*margin-top: 40px;*/
			}
				.services-row ul {
					max-width: 100%;
					list-style: none;
				}
					.services-row ul > li {
						width: calc(100% / 3);
						display: inline;
						float: left;
						margin: 40px 0 0 0;
					}
						.services-row article {
							position: relative;
						}
							div.service-icon {
								display: inline-block;
								width: 59px;
								height: 59px;
								background: transparent url(../img/icons-sprite.png) top left no-repeat;
								float: left;
							}
								.services-row li:nth-child(2) div.service-icon {
									background-position: -59px 0;
								}
								.services-row li:nth-child(3) div.service-icon {
									background-position: -118px 0;
								}
								.services-row li:nth-child(4) div.service-icon {
									background-position: 0 -59px;
								}
								.services-row li:nth-child(5) div.service-icon {
									background-position: -59px -59px;
								}
								.services-row li:nth-child(6) div.service-icon {
									background-position: -118px -59px;
								}
							div.service-info {
								display: inline-block;
								width: calc(100% - 79px);
								float: left;
								margin: 0 0 0 20px;
							}






